<p>
  <strong><%= t('.title') %></strong>
  <%= @railway_station.title %>
</p>

<% if @railway_station.routes.empty? %>
  <p><%= t('.off_route') %></p>
<% else %>
  <p><%= t('.on_route') %></p>
  <ul>
    <% @railway_station.routes.each do |route| %>
      <li><%= link_to route.name, [ :admin, route ] %></li>
    <% end %>
  </ul>
<% end %>

<p><strong><%= t('.trains_on_current_station') %></strong></p>

<% if @railway_station.trains.present? %>
  <ul>
    <% @railway_station.trains.each do |train| %>
      <li><%= link_to train.number, [ :admin, train ] %></li>
    <% end %>
  </ul>
<% else %>
  <%= t('.no_trains_on_current_station') %>
<% end %>

<%= link_to t('common.edit'), edit_admin_railway_station_path(@railway_station) %> |
<%= link_to t('common.back'), admin_railway_stations_path %>
