<tr>
  <td><%= ticket.number %></td>
  <td><%= ticket.passenger_name %></td>
  <td><%= ticket.created_at.strftime('%d.%m.%Y %H:%M') %></td>
  <td><%= ticket.train.number %></td>
  <td><%= ticket.start_station.title %></td>
  <td><%= ticket.end_station.title %></td>
  <td>
    <%= link_to t('common.show'), ticket_path(ticket) %>
    <%= link_to t('common.destroy'), ticket_path(ticket), method: :delete, data: { confirm: t('common.confirm') } %>
  </td>
</tr>
