<h1 class="text-center text-large grid-bottom"><%= t('.title') %></h1>

<h2><%= t('.ticket_info') %></h2>

<table class="table table-striped">
  <thead>
      <th><%= t('.train_number') %></th>
      <th><%= t('.route') %></th>
      <th><%= t('.start_station') %></th>
      <th><%= t('.end_station') %></th>
  </thead>

  <tbody>
    <tr>
      <td><%= @ticket.train.number %></td>
      <td><%= @ticket.train.route.name %></td>
      <td><%= @ticket.start_station.title %></td>
      <td><%= @ticket.end_station.title %></td>
    </tr>
  </tbody>
</table>

<h2><%= t('.passenger_info') %></h2>
<div class="col-md-4 col-lg-6">
  <div class="row grid-bottom">
    <%= render 'form' %>
  </div>
</div>
