<h1 class="text-center text-large grid-bottom"><%= t('.ticket_info') %></h1>

<table class="table table-striped table-bordered">
  <thead>
    <th><%= t('.ticket_number') %></th>
    <th><%= t('.train_number') %></th>
    <th><%= t('.start_station') %></th>
    <th><%= t('.end_station') %></th>
    <th><%= t('.bought_date') %></th>
    <th><%= t('.customer_email') %></th>
    <th></th>
  </thead>

  <tbody>
    <tr>
      <td><%= @ticket.number %></td>
      <td><%= @ticket.train.number %></td>
      <td><%= @ticket.start_station.title %></td>
      <td><%= @ticket.end_station.title %></td>
      <td><%= @ticket.created_at.strftime '%d.%m.%Y %H:%M' %></td>
      <td><%= @ticket.user.email %></td>
      <td><%= link_to t('common.destroy'), ticket_path(@ticket), method: :delete, data: { confirm: t('common.confirm') } %></td>
    </tr>
  </tbody>
</table>

<%= link_to t('common.back'), search_path, class: 'btn btn-primary' %>
