<p id="notice"><%= notice %></p>

<h1>Ticket order information</h1>

<table>
  <thead>
    <th>Ticket number</th>
    <th>Ticket bought:</th>
    <th>Bought date:</th>
    <th >Route</th>
    <th>Train number</th>
    <th>Start station</th>
    <th>End station</th>
  </thead>
  <tbody>
    <tr>
      <td><%= @ticket.number %></td>
      <td><%= @ticket.user.email %></td>
      <td><%= @ticket.created_at.strftime('%d.%m.%Y %H:%M') %></td>
      <td><%= @ticket.train.route.name %></td>
      <td><%= @ticket.train.number %></td>
      <td><%= @ticket.start_station.title %>
        (<%= @ticket.train.route.railway_stations.first.change_arrival_time_in(@ticket.train.route) %>)
      </td>
      <td><%= @ticket.end_station.title %>
        (<%= @ticket.train.route.railway_stations.first.change_departure_time_in(@ticket.train.route) %>)
      </td>
    </tr>
  </tbody>
</table>

<%= link_to 'Back', search_path %>
