<h1><%= t('.ticket_info') %></h1>

</div>
<p><%= t('.bought_date') %> <%= @ticket.created_at.strftime '%d.%m.%Y %H:%M' %></p>
<p><%= t('.customer_email') %> <%= @ticket.user.email %> </p>
<table>
  <tbody>
  <tr>
    <th><%= t('.ticket_number') %></th>
    <td><%= @ticket.number %></td>
  </tr>
  <tr>
    <th><%= t('.train_number') %></th>
    <td><%= @ticket.train.number %></td>
  </tr>
  <tr>
    <th><%= t('.start_station') %></th>
    <td>
      <%= @ticket.start_station.title %>
    </td>
  </tr>
  <tr>
    <th><%= t('.end_station') %></th>
    <td>
      <%= @ticket.end_station.title %>
    </td>
  </tr>
  </tbody>
</table>

<%= link_to t('common.back'), search_path %>
