<%= form_for [@train, @carriage] do |f| %>
  <%= render 'common/errors', resource: @carriage %>

  <div class="field">
    <%= f.label :number %><br>
    <%= f.text_field :number %>
  </div>

  <div class="field">
    <%= f.label :carriage_type %><br>
    <%= f.select :carriage_type, ["Economy", "Coupe", "OnlySeatCarriage", "CBCarriage"] %>
  </div>

  <div class="field">
    <%= f.label :top_seats %><br>
    <%= f.number_field :top_seats %>
  </div>

  <div class="field">
    <%= f.label :bottom_seats %><br>
    <%= f.number_field :bottom_seats %>
  </div>

  <div class="field">
    <%= f.label :side_top_seats %><br>
    <%= f.number_field :side_top_seats %>
  </div>

  <div class="field">
    <%= f.label :side_bottom_seats %><br>
    <%= f.number_field :side_bottom_seats %>
  </div>

  <div class="field">
    <%= f.label :only_seat %><br>
    <%= f.number_field :only_seat %>
  </div>

  <div class="actions">
    <%= f.submit 'Create' %>
  </div>
<% end %>
