<div class="row grid-bottom">
  <%= form_for([:admin, @ticket]) do |f| %>
    <%= render 'common/errors', resource: @ticket %>

    <%= f.hidden_field :number %>

    <div class="col-md-4 col-lg-3">
     <%= f.label :passenger_name %>
     <%= f.text_field :passenger_name, class: 'form-control' %>

     <%= f.label :passport_number %>
     <%= f.text_field :passport_number, class: 'form-control' %>

     <%= f.label :user %>
     <%= f.collection_select :user_id, User.all, :id, :email, {}, { class: 'form-control' } %>

     <%= f.label :train %>
     <%= f.collection_select :train_id, Train.all, :id, :number, {}, { class: 'form-control' } %>

     <%= f.label :start_station %>
     <%= f.collection_select :start_station_id, RailwayStation.all, :id, :title, {}, { class: 'form-control' } %>

     <%= f.label :end_station %>
     <%= f.collection_select :end_station_id, RailwayStation.all, :id, :title, {}, { class: 'form-control' } %>

     <%= f.submit t('.submit', action:  @ticket.new_record? ? 'Создать' : 'Изменить'), class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
