<%= form_for([:admin, @ticket]) do |f| %>
  <%= render 'common/errors', resource: @ticket %>

  <%= f.hidden_field :number %>

  <div class="field">
   <%= f.label :passenger_name %>
   <%= f.text_field :passenger_name %>
  </div>

  <div class="field">
   <%= f.label :passport_number %>
   <%= f.text_field :passport_number %>
  </div>

  <div class="field">
   <%= f.label :user %>
   <%= f.collection_select :user_id, User.all, :id, :email %>
  </div>

  <div class="field">
   <%= f.label :train %>
   <%= f.collection_select :train_id, Train.all, :id, :number %>
  </div>

  <div class="field">
   <%= f.label :start_station %>
   <%= f.collection_select :start_station_id, RailwayStation.all, :id, :title %>
  </div>

  <div class="field">
   <%= f.label :end_station %>
   <%= f.collection_select :end_station_id, RailwayStation.all, :id, :title %>
  </div>

  <div class="actions">
   <%= f.submit t('.submit', action:  @ticket.new_record? ? 'Создать' : 'Изменить') %>
  </div>
<% end %>
