<tr>
  <td><%= ticket.number %></td>
  <td><%= link_to ticket.train.number, admin_train_path(ticket.train) %></td>
  <td><%= ticket.start_station.title %></td>
  <td><%= ticket.end_station.title %></td>
  <td><%= ticket.passenger_name %></td>
  <td><%= link_to t('common.show'), admin_ticket_path(ticket) %></td>
  <td><%= link_to t('common.edit'), edit_admin_ticket_path(ticket) %></td>
  <td><%= link_to t('common.destroy'), admin_ticket_path(ticket), method: :delete, data: {confirm: t('common.confirm') } %></td>
</tr>
