<h1 class="text-center grid-bottom"><%= t('.title') %></h1>

<div class="col-md-12 col-lg-12">
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th><%= t('.ticket_number') %></th>
        <th><%= t('.train_number') %></th>
        <th><%= t('.start_station') %></th>
        <th><%= t('.end_station') %></th>
        <th><%= t('.customer') %></th>
        <th colspan="3"><%= t('.action') %></th>
      </tr>
    </thead>

    <tbody>
      <%= render @tickets %>
    </tbody>
  </table>

  <br/>

  <%= link_to t('common.add'), new_admin_ticket_path, class: 'btn btn-primary' %>
  <%= link_to t('common.back'), root_path, class: 'btn btn-primary' %>
</div>
