<h1 class="grid-bottom text-large"><%= t('.ticket_info') %></h1>

<table class="table">
  <thead>
    <tr>
      <th><%= t('.ticket_number') %></th>
      <th><%= t('.train_number') %></th>
      <th><%= t('.customer_name') %></th>
      <th><%= t('.customer_email') %></th>
      <th><%= t('.bought_date') %></th>
     <th><%= t('.ticket_route') %></th>
      <th><%= t('.start_station') %></th>
      <th><%= t('.start_station') %></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= @ticket.number %></td>
      <td><%= link_to @ticket.train.number, admin_train_path(@ticket.train) %></td>
      <td><%= @ticket.user.user_initials %></td>
      <td><%= @ticket.user.email %></td>
      <td><%= @ticket.created_at.strftime '%d.%m.%Y %H:%M' %></td>
      <td><%= link_to @ticket.train.route.name, admin_route_path(@ticket.train.route) %></td>
      <td>
        <%= @ticket.start_station.title %>
        ( <%= @ticket.start_station.change_arrival_time_in(@ticket.train.route) %>)
      </td>
      <td>
        <%= @ticket.end_station.title %>
        ( <%= @ticket.end_station.change_departure_time_in(@ticket.train.route) %>)
      </td>
    </tr>
  </tbody>
</table>

<h2 class="grid-bottom-small text-large"><%= t('.passenger_info') %></h2>
<table class="table">
  <thead>
    <tr>
      <th><%= t('.passenger_name') %></th>
      <th><%= t('.passport_number') %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @ticket.passenger_name %></td>
      <td><%= @ticket.passport_number %></td>
    </tr>
  </tbody>
</table>

<%= link_to t('common.edit'), edit_admin_ticket_path(@ticket), class: 'btn btn-primary' %>
<%= link_to t('common.back'), admin_tickets_path, class: 'btn btn-primary' %>
