<div class="row">
  <%= form_for [:admin, @train, @carriage] do |f| %>
    <%= render 'common/errors', resource: @carriage %>

    <div class="col-md-4 col-lg-4">
      <%= f.label :number %><br>
      <%= f.text_field :number, class: 'form-control' %>

      <%= f.label t('.type') %><br>
      <%= f.select :type, ["EconomyCarriage", "CoupeCarriage", "SeatCarriage", "CbCarriage"], {}, { class: 'form-control' } %>

      <%= f.label :top_seats %><br>
      <%= f.number_field :top_seats, class: 'form-control' %>

      <%= f.label :bottom_seats %><br>
      <%= f.number_field :bottom_seats, class: 'form-control' %>

      <%= f.label :side_top_seats %><br>
      <%= f.number_field :side_top_seats, class: 'form-control' %>

      <%= f.label :side_bottom_seats %><br>
      <%= f.number_field :side_bottom_seats, class: 'form-control' %>

      <%= f.label :only_seat %><br>
      <%= f.number_field :only_seat, class: 'form-control' %>

      <%= f.submit t('.submit', action: @carriage.new_record? ? 'Добавить' : 'Изменить'), class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
