<p id="notice"><%= notice %></p>

<h1>Carriage number: <%= @carriage.number %></h1>

<% if @carriage.train.nil? %>
  <p>Does not have a train</p>
<% else %>
  <p>
    Train number: <%= link_to @carriage.train.number, [ :admin, @carriage.train ] %>
  </p>
<% end %>

<p>
  Carriage type: <%= @carriage.carriage_type %>
</p>

<p>
  Top seats: <%= @carriage.top_seats %>
</p>

<p>
  Bottom seats: <%= @carriage.bottom_seats %>
</p>

<p>
  Side top seats: <%= @carriage.side_top_seats %>
</p>

<p>
  Side bottom seats: <%= @carriage.side_bottom_seats %>
</p>

<p>
  Only seats: <%= @carriage.only_seat %>
</p>

<%= link_to 'Edit', edit_admin_carriage_path(@carriage) %> |
<%= link_to 'Back', [ :admin, @carriage.train ] %>
