<h1><%= t('.number') %> <%= @carriage.number %></h1>

<% if @carriage.train.nil? %>
  <p><%= t('.no_train') %></p>
<% else %>
  <p>
    <%= t('.train_number') %> <%= link_to @carriage.train.number, [ :admin, @carriage.train ] %>
  </p>
<% end %>

<p>
  <%= t('.carriage_type') %> <%= @carriage.carriage_type %>
</p>

<p>
  <%= t('.top_seats') %> <%= @carriage.top_seats %>
</p>

<p>
  <%= t('.bottom_seats') %> <%= @carriage.bottom_seats %>
</p>

<p>
  <%= t('.side_top_seats') %> <%= @carriage.side_top_seats %>
</p>

<p>
  <%= t('.side_bottom_seats') %> <%= @carriage.side_bottom_seats %>
</p>

<p>
  <%= t('.only_seats') %> <%= @carriage.only_seat %>
</p>

<%= link_to t('common.edit'), edit_admin_carriage_path(@carriage) %> |
<%= link_to t('common.back'), [ :admin, @carriage.train ] %>
