<div class="row grid-bottom">
  <%= form_for :search, html: {class: 'search_form'} do |f| %>
    <div class="col-md-4 col-lg-3">
      <%= f.label t('.start_station') %>
      <%= f.collection_select :start_station_id, RailwayStation.ordered, :id, :title, {}, { class: 'form-control' } %>
    </div>

    <div class="col-md-4 col-lg-3">
      <%= f.label t('.end_station') %>
      <%= f.collection_select :end_station_id, RailwayStation.ordered, :id, :title, {}, { class: 'form-control' } %>
    </div>

    <div class="col-md-4 col-lg-2">
      <br />
      <%= f.submit t('.submit_tag'), class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
