<%= form_for :search do |f| %>

  <div class="field">
    <%= f.label t('.start_station') %>
    <%= f.collection_select :start_station_id, RailwayStation.ordered, :id, :title %>
  </div>

  <div class="field">
    <%= f.label t('.end_station') %>
    <%= f.collection_select :end_station_id, RailwayStation.ordered, :id, :title %>
  </div>

  <div class="actions">
    <%= submit_tag t('.submit_tag') %>
  </div>
<% end %>
