<h1>Search ticket</h1>

<%= render 'form', search: @search %>

<%= link_to 'Back', 'welcome/index' %>


<% if @search.search_result %>
  <% if @search.search_result.empty? %>
    <p>Not found!</p>
  <% else %>
    <table>
      <thead>
        <tr>
          <th>Train</th>
          <th>Route</th>
          <th>Start station</th>
          <th>End station</th>
        </tr>
      </thead>

      <tbody>
        <% @search.search_result.each do |train| %>
          <tr>
            <td><%= link_to train.number, train %></td>
            <td><%= link_to train.route.name, train.route %></td>
            <td><%= train.route.railway_stations.first.change_arrival_time_in(train.route) %></td>
            <td><%= train.route.railway_stations.first.change_departure_time_in(train.route) %></td>
            <td>
              <%= form_tag(buy_tickets_path, method: :post) do %>
                <%= hidden_field_tag :train_id, train.id %>
                <%= hidden_field_tag :start_station_id, @search.start_station_id %>
                <%= hidden_field_tag :end_station_id, @search.end_station_id %>
                <%= submit_tag 'Buy ticket' %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
<% end %>
