<p id="notice"><%= notice %></p>

<h1><%= t('.trains_list') %></h1>

<table>
  <thead>
    <tr>
      <th><%= t('.train_number') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @trains %>
  </tbody>
</table>

<br>

<%= link_to t('common.add'), new_admin_train_path %>
