<% if user_signed_in? %>
  <%= t('.hello') %> <%= ", #{current_user.user_initials}!" %>
  <p><%= link_to t('.mine_tickets'), tickets_path if !current_user.admin? %></p>

  <p><%= t('.account') %> <%= current_user.email %></p>

  <p><%= link_to t('.admin_panel'), admin_welcome_index_path  if current_user.admin? %></p>

  <%= link_to t('.sign_out'), destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to t('.log_in'), new_user_session_path %>
<% end %>
