<% if user_signed_in? %>
  <li><span class="navbar-text"><%= t('.hello') %>, <%= "#{current_user.user_initials}!" %></span></li>
  <li><span class="navbar-text"><%= t('.account') %> <%= current_user.email %></span></li>
  <li><%= link_to t('.mine_tickets'), tickets_path if !current_user.admin? %></li>
  <li><%= link_to t('.admin_panel'), admin_welcome_index_path  if current_user.admin? %></li>
  <li><%= link_to t('.sign_out'), destroy_user_session_path, method: :delete %></li>
<% else %>
  <li><%= link_to t('.log_in'), new_user_session_path %></li>
<% end %>
