<!DOCTYPE html>
<html>
  <head>
    <title>Tutu - Admin panel</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <p id="notice" class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= link_to 'Home page', root_path %><br />

    <%= render 'common/user_status_notification' %>

    <%= yield %>

    <footer>
        <p>&copy; 2017 Mirbek Askerov</p>
        <p>Учебный проект на онлайн-школе <a href="https://www.thinknetica.ru">Thinknetica</a></p>
    </footer>
  </body>
</html>
